{% extends 'accounts/index.html' %}
{% load static %}

{% block content %} 
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">{{program.name}}</h1>
    <p class="lead">{{program.university.name}}</p>
</div>
<h1>Admissions Info</h1>
<!--<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Confirmed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Accepted</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rejected</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5>Line Graph</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>-->
<h1>Accepted</h1>
<ol>
    {% for application in applications %} 
    <li>{{application.user}} - {{application.grade}}%</li>
    {% endfor %}
</ol>
<h1>Pending</h1>
<ol>
    {% for application in applications %} 
    <li>{{application.user}} - {{application.grade}}%</li>
    {% endfor %}
</ol>
{% endblock %}